{$title="Alterar Despesa"}

{include="header-4"}


    {if="$msE != ''"}
      <script>
        swal({
          title: "Algo não está certo!",
            text: '{$msE}',
            icon: "error",
        });
      </script>
    {/if}

    <div class="main-panel">
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Preencha os campos</h4>
                </div>
                <div class="card-body">
                  <form class="form-novo-mes" method="post" action="/alterar-despesa/{$id_conta}/{$id_despesa}/{$id_categoria}">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Produto ou serviço</label>
                          <input type="text" id="despesa" name="despesa" class="form-control" value="{$retornaDespesa.despesa}" required autofocus>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Valor</label>
                          <input type="text" id="valor" name="valor" class="form-control" value="{$retornaDespesa.valor}" required>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <!-- <label class="bmd-label-floating">Data</label> -->
                          <input type="date" id="data_compra" name="data_compra" class="form-control" value="{$retornaDespesa.data_compra}" required>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group paga-ou-nao">
                          <label>Paga (sim/não)</label>


                          <select name="paga_s_n" id="paga_s_n">
                            {if="$retornaDespesa.paga_s_n === ''"}
                            <option value="" selected>Selecione</option>
                            {else}
                            <option value="">Selecione</option>
                            {/if}
                            {if="$retornaDespesa.paga_s_n === 's'"}
                            <option value="s" selected>Sim</option>
                            {else}
                            <option value="s">Sim</option>
                            {/if}
                            {if="$retornaDespesa.paga_s_n === 'n'"}
                            <option value="n" selected>Não</option>
                            {else}
                            <option value="n">Não</option>
                            {/if}
                        </select>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Inserir</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  {include="footer-4"}