{$title="Alterar Receira"}

{include="header-4"}


    {if="$msE != ''"}
      <script>
        swal({
          title: "Algo não está certo!",
            text: '{$msE}',
            icon: "error",
        });
      </script>
    {/if}

    <div class="main-panel">
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Preencha os campos</h4>
                </div>
                <div class="card-body">
                  <form class="form-novo-mes" method="post" action="/alterar-receita/{$id_conta}/{$id_receita}/{$id_categoria}">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Primeira parcela</label>
                          <input type="text" id="primeira_parc" name="primeira_parc" class="form-control" value="{$retornaReceita.primeira_parc}">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Segunda parcela</label>
                          <input type="text" id="segunda_parc" name="segunda_parc" class="form-control" value="{$retornaReceita.segunda_parc}">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Vale Alimentação</label>
                          <input type="text" id="alimentacao" name="alimentacao" class="form-control" value="{$retornaReceita.alimentacao}">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Bônus</label>
                          <input type="text" id="bonus" name="bonus" class="form-control bonus" value="{$retornaReceita.bonus}">
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Alterar</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  {include="footer-4"}