{$title="Criar Categoria"}

{include="header"}


    {if="$msE != ''"}
      <script>
        swal({
          title: "Algo não está certo!",
            text: '{$msE}',
            icon: "error",
        });
      </script>
    {/if}

    <div class="main-panel">
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Preencha o campo</h4>
                </div>
                <div class="card-body">
                  <form class="form-novo-mes" method="post" action="/criar-categoria">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nome da Categoria</label>
                          <input type="text" id="nome_cat" name="nome_cat" class="form-control" required autofocus>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Inserir</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  {include="footer"}